.ModalBackground {
    background-color: rgba(54, 59, 54, 0.356);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}